{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Liste des sites{% endblock %}

{% block body %}
    {{ parent() }}
    <br>
    <a href="{{ path('site_add') }}" title="ajouter un site">ajouter un site</a>
    <table id="table" 
        class="table table-hover" 
        data-toggle="table" 
        data-filter-control="true"
        data-click-to-select="true">
        <thead>
            <tr>
            <th data-field="name" data-filter-control="select">Nom</th>
            <th data-field="address" data-filter-control="select">Adresse</th>
            <th data-field="city" data-filter-control="select">Ville</th>
            <th date-field="cp" data-filter-control="select">Code postal</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
            <td>{{ site.name }}</td>
            <td>{{ site.address }}</td>
            <td>{{ site.city }}</td>
            <td>{{ site.cp }}</td>
            <td><a href="{{ path('site_modify',{'id':site.id}) }}"><i class="bi bi-pencil-square"></i></a><a href="{{ path('site_details',{'id':site.id}) }}"><i class="bi bi-eye"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}{{ parent() }} 
<link href="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.21.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<script>
var $table = $('#table');
$(function () {
  $('#toolbar').find('select').change(function () {
    $table.bootstrapTable('refreshOptions', {
      exportDataType: $(this).val()
    });
  });
})
</script>
{% endblock %}