{% extends 'base.html.twig' %}

{% form_theme vehicleForm 'bootstrap_4_layout.html.twig' %}

{% block title %}
    Creer un nouveau véhicule | {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <br>
    <div>
        {{ form_start(vehicleForm) }}
        {{ form_widget(vehicleForm) }}
        <button>Sauvegarder les modifications</button>
        {{ form_end(vehicleForm) }}
    </div>
{% endblock %}