{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Liste des emprunts{% endblock %}

{% block body %}
    {{ parent() }}
    <br>
    </div>
    <a style="margin-left: 5%;" class="btn btn-primary" href="{{ path('loan_add') }}" title="ajouter un site">Faire une demande d'emprunt</a><br><br>
    <table style="width: 90%; margin: auto;" 
        id="table" 
        class="table table-hover" 
        data-toggle="table" 
        data-filter-control="true">
        <thead>
            <tr>
            <th data-field="statut" data-filter-control="select">Statut</th>
            <th data-field="affectedVehicle" data-filter-control="select">Voiture</th>
            <th data-field="depart_address" data-filter-control="input">Addresse de depart</th>
            <th data-field="destinationAddress" data-filter-control="input">Addresse de destination</th>
            <th data-field="departDate" data-filter-control="input">Date de départ</th>
            <th data-field="returnDate" data-filter-control="input">Date d'arrivée</th>
            <th>Voiture rendue</th>
            <th>Clé rendue</th>
            <th>Commentaires</th>
            <th>Passagers</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for loan in loans %}
            <tr>
            <td>{{ loan.statut }}</td>
            <td>{{ loan.affectedVehicle.brand }} - {{ loan.affectedVehicle.model }}</td>
            <td>{{ loan.affectedVehicle.idSite.address }} - {{ loan.affectedVehicle.idSite.city }} - {{ loan.affectedVehicle.idSite.cp }}</td>
            <td>{{ loan.destinationAddress }} - {{ loan.destinationCity }} - {{ loan.destinationCp }}</td>
            <td>{{ loan.departDate|date("Y-m-d H:i:s") }}</td>
            <td>{{ loan.returnDate|date("Y-m-d H:i:s" ) }}</td>
            <td>{% if loan.returnVehicle %}<i class="bi bi-check-lg"></i>{% else %}<i class="bi bi-x-lg"></i>{% endif %}</td>
            <td>{% if loan.returnKey %}<i class="bi bi-check-lg"></i>{% else %}<i class="bi bi-x-lg"></i>{% endif %}</td>
            <td>{{loan.comment}}</td>
            <td>
              {% for passenger in loan.passengers %}
                {% if loan.driver.id == app.user.id and (loan.statut == "En validation" or loan.statut == "Validé") and loan.departDate > date() %}
                  <a href="{{ path('loan_remove_passenger',{'idLoan':loan.id,'idUser':passenger.id}) }}" class="badge bg-secondary">{{passenger.firstName ~ ' ' ~ passenger.lastName}}<i class="bi bi-x"></i></a></h6>
                {% else %}
                  <span class="badge bg-secondary">{{passenger.firstName ~ ' ' ~ passenger.lastName}}</span>
                {% endif %}          
              {% endfor %}
            </td>
            <td>
              {% if loan.driver.id == app.user.id  %}
                {% if (loan.statut == "En validation") or (loan.statut == "Validé" and loan.departDate > date()) %}
                  <a class="btn btn-danger" href="{{ path('loan_annuler',{'id':loan.id}) }}">Annuler</a>
                {% endif %}
                {% if loan.statut == "Validé" and loan.returnDate < date() %}
                  <a class="btn btn-success" href="{{ path('loan_complete',{'id':loan.id}) }}">Terminer l'emprunt</a>    
                {% endif %}
              {% endif %}      
            </td>      
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}{{ parent() }} 
<link href="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.21.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<script>
var $table = $('#table');
$(function() {
    $('#table').bootstrapTable()
  })
</script>
{% endblock %}